* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* Hero */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url('../img/gachas.jpg') center/cover no-repeat;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.hero-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.btn {
    padding: 12px 25px;
    background: #00b894;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #019875;
}

/* Lugares y hospedajes */
section {
    padding: 80px 10%;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
}

/* Responsive */
@media(max-width: 768px){
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}